@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<SchedulingApplication.Models.PlayerModel>
<!--begin::Content-->

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Player List</h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">

                                <th class="min-w-125px">Image</th>
                                <th class="min-w-125px">Player Name</th>
                                <th class="min-w-125px">Email</th>
                                <th class="min-w-125px">Age</th>
                                <th class="min-w-125px">Is Club Pass Player</th>

                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold">
                           
                              @foreach(var player in ViewBag.Players) {
                                <tr>
                                    <td> 
                                        <div class='symbol symbol-circle symbol-50px overflow-hidden me-3' >
                                            <div class='symbol-label'>
                                                <img id="coach_img_details" src= "data:image/png;base64,@player.Image" alt="@player.PlayerName">
                                            </div>
                                        </div>
                                    </td>
                                    <td>@player.PlayerName</td>
                                    <td>@player.EmailAddress</td>                                 
                                    <td>@player.Age</td>                                 
                                    <td>@player.IsClubPassPlayer</td>                                 
                                  </tr>
                                }

                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
 